
.fondo2{
    background-image: url(../img/portada.png) ;
    background-size: cover;
    overflow: hidden; 
}
.fondo {
   
    background-color:rgba(225,225,225,0.6); 
    margin-top: 40px;
    margin-bottom: 10%;
   
    padding: 30px 20px;
    
}

ul li a{

    text-decoration: none;
    font-family: Cormorant Upright Bold;
    text-align: center;
   color: black; 
   font-size: 2em;

}
.nombre{
    padding: 30px 0;
    font-size: 5vw;
    font-family: Brighly Crush Shine;
    text-align: center;
    color: black; 

}
.blan{  
    margin-bottom: 2em;
    

    }

.habilidades {

 margin-top: 5rem;

background-color:white;
   
}
html{
    scroll-behavior: smooth;

}
.hab{
    padding-bottom:50px;
}


.uno:hover {
    background: url(http://programandoointentandolo.com/ejemplos/imagenes/cubo/img6.png) no-repeat;
}
.alf{
    margin-top: 80px;  
 

    }
    
.tea{
    font-family: Brighly Crush Shine;
    font-size: 2em ;
   
}
.tia{
    background-image:url(../img/partes.png) ;
      
}
.bot{
    
}
.dos{
    font-size: 1em;
    background-color:black ;
    font-family: Brighly Crush Shine;
}
.tt1{
    font-size: 3em;
    font-family:Brighly Crush Shine ;
    text-align: center;
    margin-bottom: 50px;
    color:black;
    padding-top:30px;
}
.tt2{
    font-size: 3em;
    font-family:Brighly Crush Shine ;
    text-align: center;
    margin-bottom: 50px;
    color:black;
    color:white;
   
}
.tt11{
    font-size: 3em;
    font-family:Brighly Crush Shine ;
    text-align: center;
    margin-bottom: 20px;
    color:black;
 
    padding:50px;
}
.tt12{
    font-size: 3em;
    font-family:Brighly Crush Shine ;
    text-align: center;
    margin-bottom: 80px;
    color:white;
    margin-top:80px;
}
.main{
    margin: 0px;

      
    }
    .fot{
        background-color: white;
        margin-top:80px;

    }
    .cont{
        font-family:Cormorant Upright Bold;
        font-size:30px;
    }
footer{
    margin: 0;
    text-decoration: none;
    padding: 0;
    background-color: black;
    font-size: 0.06em;
}
.let{
    color: white;
    text-align: center;
    font-family: Cormorant Upright Bold;
}

   
